{% extends 'base.html' %}

{% block content %}
    <div class="chart_wrapper">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>

 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script>
        function datasets_generator(stats_obj) {
            let datasets = [];
            Object.keys(stats_obj).forEach(method => {
                let this_method = stats_obj[method];
                let data = [];
                for(var i = 0; i<this_method["stats"].length; i++) {
                    data.push({
                        t: new Date(this_method["stats"][i]["x"]),
                        y: this_method["stats"][i]["y"]
                    });
                }
                datasets.push({
                    label: method,
                    data: data,
                    backgroundColor: [
                        this_method["backgroundColor"],
                    ],
                    borderColor: [
                        this_method["backgroundColor"],
                    ],
                    borderWidth: 1,
                    
                });
            });
            return datasets;
        }



        var ctx = document.getElementById('myChart');
        let stats_obj = {{ stats|safe }};
        datasets = datasets_generator(stats_obj);
        
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: datasets,
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                animation: {
                    easing: 'easeInOutQuad',
                    duration: 0
                },
                layout: {
                    padding: 10,
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            color: 'rgba(200, 200, 200, 0.05)',
                            lineWidth: 1
                        },
                        type: 'time',
                        distribution: 'series',
                        time: {
                            unit: 'minute'
                        },
                        ticks: {
                            max: new Date(),
                            min: new Date(new Date().getTime() - (60 * 60 * 1000)),
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            // Include a dollar sign in the ticks
                            callback: function(value, index, values) {
                                return value + " sn";
                            }
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'Chart.js Radar Chart',
                    fontColor: 'white'
                },
                point: {
                    backgroundColor: 'white'
                },
                
            },
        });

        document.addEventListener("DOMContentLoaded", function () {
            // WebSocket bağlantısı kur
            /*const notifierSocket = new WebSocket(
                    "ws://" + window.location.host + "/notifications"
                );
        */
            const noteSocket = new WebSocket(
            "ws://" + window.location.host + "/logs"
            );
            // Bağlantı kurulduğunda
            /* notifierSocket.addEventListener("open", function (event) {
                    notifierSocket.send("Sunucuya bağlanıldı. from js");
                });
    
                // Mesaj alındığında
                notifierSocket.addEventListener("message", function (event) {
                    console.log("Mesaj alındı: ", event.data);
                });
        */
            // noteSocket
            noteSocket.addEventListener("open", function (event) {
                noteSocket.send("Sunucuya bağlanıldı. ");
            });
    
            // Mesaj alındığında
            noteSocket.addEventListener("message", function (event) {
                try {
                    data = JSON.parse(event.data);
                    if (data["event"] == "New Log") {
                        let new_stats_data = data["data"];
                        let new_datasets = datasets_generator(new_stats_data);
                        myChart.data.datasets = new_datasets;
                        myChart.options.scales.xAxes[0].ticks.max = new Date(); 
                        myChart.options.scales.xAxes[0].ticks.min = new Date(new Date().getTime() - (60 * 60 * 1000));
                        myChart.update();
                    }
                } catch (e) {
                    console.log(e);
                }
                    console.log(typeof data);
            });
    
            // Mesaj gönder
            // socket.send('Merhaba!');
    
            // Bağlantıyı bitir
            // socket.close(1000, 'Güle güle.');
        });
    </script>
{% endblock content %}


